@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
p , h1, h2,h3{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.hat{
    background-color: rgba(94, 93, 88, 0.6);
}
.logo{
    display: flex;
    padding:  0;
    align-items: center;
    font-size: 32px;
    line-height: 48px;

}
.company-title{
    display: inline-block;
    margin-left: 6px;
    position: relative;
    color: white;

}
.company-title::before{
    left: -48px;
    top: 10px;
    content: "";
    position: absolute;
    background-image: url(../images/H.png);
    width: 27px;
    height: 31px;
}
.nav-menu-link::after{
    position:absolute;
    content: "";
    width: calc(100% - 21px);
    height: 4px;
    background: #18CFAB;
    left: 0;
    top: 110px;
    display: none;
}
.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.nav-menu-item{
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
}
.title{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 82px;
}
.nav-menu-item:hover .nav-menu-link{
    color:#18CFAB;
}
.nav-menu-item:hover .nav-menu-link::after{
    display: block;
}
.green-text{
    color: #18CFAB;
}
.weight-700{
    font-weight: 700;
}
.logo-menu__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-menu-link{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    margin-right: 21px;
}
.nav-menu-link :last-child{
    margin-right: 0;
}
.slogan-wrapper{
    margin-bottom: 129px
}
.slogan-1{
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 22px;
}
.content{
    text-align: center;
    padding-top: 264px;
}
.slogan-2{
    font-size: 78px;
    color: white;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 22px;
}
.slogan-3{
    font-size: 34px;
    color: #D4D4D4;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0px;
}
.hero-button__wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 215px;
}
.hero-button__bg{
    background-color: white;
    padding-top: 5px;
    border-radius: 4px;
    margin-right: 26px;

}
.hero-button{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 15px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px;
    background: #18CFAB;
    border-radius: 4px;
    color: white;
}
.hero-button__bg:nth-child(2)  .hero-button{
    padding-right: 11px;
    padding-left: 11px;
    background-color:#00CBF6;
}
.advantages__wrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.advantage-black{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #1C2A33;
    padding-top: 85px;
    padding-bottom: 110px;
}
.advantage-black__text{
    margin-top: 47px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color:#18CFAB; ;
    text-transform: uppercase;
}
.advantage-green{
    display: flex;
    align-items: center;
    flex-direction: column;
    background:  #18CFAB;
    padding-top: 96px;
    padding-bottom: 110px;
}
.advantage-green__text{
    margin-top: 58px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.section-title{
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 85px;
    position: relative;
    margin-bottom: 97px;
    color: #4E4E4E;
}
.section-title::before{
    position: absolute;
    content: "";
    width: 78px;
    height: 1px;
    background: #18CFAB;
    top: 149px;
    left: 596px;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 78px;
    height: 1px;
    background: #18CFAB;
    top: 153px;
    left: 607px;
}
.services-menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding:0;
    margin-bottom: 28px;
}
.services-btn{
    font-size: 16px;
    line-height: 39px;
    font-weight: 400;
    color: #717171;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0;
    background: #F8FCFE;
    border: none;
}
.services-btn:hover{  
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    border: 1.5px solid #18CFAB;
}
.active-btn{
    color: white;
    border-radius: 0;
    background: #18CFAB;
    position: relative;
}
.active-btn::after{
    content: "";
    position: absolute;
    top: 60px;
    left: 98px;
    width: 17px;
    height: 17px;
    background:#18CFAB ;
    transform: rotate(45deg);
}
.services-content{
    display: none;
    margin-bottom: 91px;
}
.services-content:nth-child(1){
    display: flex;
    margin-bottom: 147px;
}
.services-content__text{
    margin: 0;
    margin-left: 15px;
    text-align: start;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.buy-install{
    background-image: url(../images/just\ buy-bg.png);
    background-repeat: no-repeat;
    padding:127px 0;
}
.buy-install__slogan{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.buy-install__subslogan{
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: #D8D8D8;
}
.purchase-button{
    display: inline-block;
    padding-top: 5px;
    background: white;
    border-radius: 4px;
}
.work-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    padding:0;
    margin: 0;
    margin-bottom: 70px;
}
.our-work{
    background: #E9EDEF;
    padding-bottom: 99px;
}
.work-menu__btn{
    border-radius: 0px;
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    padding: 14px 15px;
    color: #717171;
}
.work-menu__item:nth-child(1) .work-menu__btn{
    padding-left: 27px;
    padding-right: 27px;

}
.work-menu__btn:hover{  
    padding: 12px 15px;
    border: 2px solid yellow;
    color: brown;
}
.work-gallery__wrapper{
    padding: 0 calc((100% - 1136px) / 2 );
    width: 1136px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin-bottom: 83px;
}
.work-menu__btn__active{
    padding: 12px 15px;
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.plus{
    margin-right: 15px;
}
.load-more__btn{
    display: inline-block;
    padding:13px 23px 8px ;
    background-color: #18CFAB;
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 4px;
}
.work-img__wrapper{
    position: relative;
}

.work-img__hover{
    content: "";
    position: absolute;
    background-color:  #E9EDEF;
    display: none;
    height: 206px;
    width: 284px;
    top: 0;
    left: 0;
    padding-top: 48px;
    border-top: 2px solid #18CFAB;
}
.custom-phrase{
    color: #18CFAB;
    margin-top: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
}
.menu-classname{
    color: #8A8A8A;
    font-size: 12px;
    line-height: 25px;
    text-transform: capitalize;
    font-weight: 300;

}
.work-img__wrapper > img{
    height: 100%;
    width: 100%;
}
.work-img__wrapper:hover .work-img__hover{
    display: block;
}
.news-gallery__wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 35px;
    row-gap: 45px;
}
.news-gallery__item{
    position: relative;
}

.gallery-date{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background: #203E38;
}
.gallery-image{
    width: 100%;
}
.gallery-title{
    font-size: 18px;
    line-height: 39px;
    font-weight: 700;
    color: #717171;
    text-transform: uppercase;
}
.news-gallery__item:hover .gallery-title{
    color:#18CFAB;
}
.news-gallery__item:hover .gallery-date{
    background: #18CFAB;
}
.gallery-subtitle{
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    display: inline-block;
    padding-right: 10px;
    position: relative;
}
.date-text{
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
    color: white;
    font-weight: 400;
}
.breaking-news{
    padding-bottom:128px ;
}


/* 
/////// */



.what-people-say {
    background-image: url(../images/peoplesay\ bg.png);
    box-shadow: inset 1920px 0 0 rgba(0, 0, 0, 0.5);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.what-people-say-title{
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;    
    padding-top: 98px;
}

.slider-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.slider-item-description{
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-top: 36px;    
}
.slider-item-title{
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 36px;
}
.slider-item-position{
    margin-top: 15px;
    font-size: 13px;
    color: #bbbbbb;
}

.slider-item-img{
    border: 10px solid rgba(77, 174, 117, 0.4);
    width: 142px;
    height: 142px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.footer{
    text-align: center;
    padding: 48px 0px 48px 0;
    background: #22353F;
    color: #AEAEAE;
}
.breaking-news-item-author:after {
    content: '';
    margin: 0 10px 0 15px;
    padding: 0 0 1px 1px;
    background-color: #777777;
    opacity: 0.5;
}